
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Home to Myddleware{% endblock %}
{% block main %}
  <h2>Dashboard</h2>

  <div >
      {{ render_chart(chart) }}
  </div>
{% endblock %}
